[MASTER]
ignore=venv
jobs=1

[MESSAGES CONTROL]
disable=
    C0114,
    C0115,
    C0116,
    R0903,
    R1721,
    E0015,

[REPORTS]
output-format=colorized

[FORMAT]
max-line-length=100

[DESIGN]
max-args=15
max-attributes=10
max-positional-arguments=15
max-locals=30
